.banner{
    margin-top: 10%;
    font-family: "Poppins", sans-serif;
/* 
    background-color: yellow; */
    
}

.searchArea{
    
    justify-content: center;
    /* background-color: green; */
    padding: 20px;
   margin-left: 20%;
}