.banner{
    margin-top: 10%;
    font-family: "Poppins", sans-serif;
/* 
    background-color: yellow; */
    
}

.searchArea{
    
    justify-content: center;
    padding: 20px;
    margin-left: 20%;
}

p{
    font-family: "Poppins", sans-serif;
}