:root{
    --mainColor: white;
}

header{
    background-color: var(--mainColor);

}

.container{
    width: 95%;
    /* background-color: orange; */
    margin: 0 auto; 
    max-width: 100%;
}

.container-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #ddd; /* Add the border at the bottom */
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1); /* Add a shadow */
    width: 100%; 
    padding: 1.5em 0;
    padding-left: 2em;
    padding-right: 2em;
}

.logo{
    width: 250px;
    /* padding: .5rem 0; */
}
.list{
    display: flex;
}
.listItem{
    margin-top: .2em;
}

.listItem{
   margin-left: 2em;;
   color: #6bb282;
    text-decoration: none;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.active{
    border-bottom: .1em solid #6bb282;
}

/* .icon {
    color: #fff;
    font-size: 1.5rem !important;
    margin-left: 1.5em;
    margin-right: 1em;
} */

@media screen and (max-width: 768px){
    .list{
        display: none;
    }
    .logo{
        width: 150px;
    }
    .icon{
        display: block;
    }
    .listItem{
        margin-left: 0;
        margin-top: 0;
        font-size: 1.2rem;
    }
    .listItem:hover{
        color: #fff;
    }
}