p, h2{
    font-family: "Poppins", sans-serif;
}

.searchArea{
   
    /* background-color: green; */
    margin-top: 3em;
    padding: 20px;
    margin-left: 20%;
    margin-bottom: 3em;
  
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: none;
    color: green;
}

.custom-img-size{
    width: 50%;
}

.items {
    display: flex;
    justify-content: center;    
    /* background-color: green; */
}

.teachersHeader{
    font-family: "Poppins", sans-serif;
    /* background-color: green; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;

}

.profilePic{
    padding-top: 2em;
}

Button.disabled-btn {
    background-color: grey;
}