p, h2{
    font-family: "Poppins", sans-serif;
}

.searchArea{
   
    /* background-color: green; */
    padding: 20px;
    margin-left: 20%;
  
}

.link {
    text-decoration: none;
    color: black;
}

.link:hover {
    text-decoration: none;
    color: green;
}

.custom-img-size{
    width: 50%;
}

